.page {
    width: 430px;
    height: 260px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    page-break-inside: avoid;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h4 {
    margin: 0;
    font-size: 16px;
}
.design {
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}
.signature-line {
    border-bottom: 1px solid #000;
    margin-top: 25px;
    width: 26%;
    margin-left: 5px;
}
.picture-square {
    width: 96px;
    height: 96px;
    background-color: #ccc;
    margin: 0 auto;
}
